
<h2>Send mail to find your password</h3>
<%= form_tag( 'send_mail') do %>
    <%= label_tag "Your user name:" %>
    <%= text_field_tag :user_name, params[:user_name] %>
    <%= submit_tag "Send mail"%>
<% end %>
<% if @e == "true" %>
<%= "The user name didn't exist" %><br>
<% end %>
<%= link_to 'Back', login_url %>