<div class="login_form">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>
  <%= form_tag do %>
    <fieldset>
      <legend>Please Login In</legend>
      <div>
        <%= label_tag :name, 'Name:' %>
        <%= text_field_tag :name, params[:name] %>
      </div>
      <div>
        <%= label_tag :password, 'Password:' %>
        <%= password_field_tag :password, params[:password] %><%= link_to 'Forgot Password?', find_password_url %>
      </div>
      <div id="actions">
        <%= submit_tag "Login" %>
        <%= link_to 'Register', register_url %>
      </div>

    </fieldset>
  <% end %>
  <div>
    <h4><%= "Want to view some interesting blogs?" %></h4>
  </div>
  <div>
    <ul>
      <% @exist_users.each do |user| %>
      <li><%= link_to user.name, blog_path(name: user.name) %></li>
      <% end %>
    </ul>
  </div>
</div>
