<%= form_for(@pic_comment) do |f| %>
  <% if @pic_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pic_comment.errors.count, "error") %> prohibited this pic_comment from being saved:</h2>

      <ul>
      <% @pic_comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.text_field :picture %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
