<p id="notice"><%= notice %></p>

<p>
  <strong>User_name:</strong>
  <%= @pic_comment.user_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pic_comment.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @pic_comment.user %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @pic_comment.picture %>
</p>

<%= link_to 'Edit', edit_pic_comment_path(@pic_comment) %> |
<%= link_to 'Back', pic_comments_path %>
