<% if(session[:blog_id] == session[:user_id]) %>
<%= form_for(:picture,
			url: {action: 'save'},
			html: {multipart: true}
			) do |form| %>

    Title:          <%= form.text_field(:title) %><br/>  
	Upload picture: <%= form.file_field(:file) %><br/>

	<%= submit_tag("Upload picture") %>
<% end %>
<% end %>

<ul class="gallery">
<% @pictures.each do |picture| %>
	<li>
	<%= link_to(image_tag(url_for(action: 'picture', id: picture.id)), album_show_url(id: picture.id, name: @user.name)) %>
	<span><%= picture.title %></span>
	</li>
<% end %>
</ul>