
<section id="posts">
<%  @articles.each do |article|  %>		
			<article class="post">
				<header>
					<h2><%= link_to  article.title, article_show_url(name: article.user.name, article_id: article) %></h2>
          <h4>Published <%= article.month+article.created_at.localtime.strftime(" %d %X %Y") %></h4>
				</header>
          <p>
            Tag:
            <% article.tag_items.each do |item| %>
            <%= link_to item.tag.name, tag_path(item.tag) %>
            <% end %>
          </p>
          <p>
            Category:
            <% if(article.categ != nil) %>
            <%= link_to article.categ, category_show_path(id: Category.find_by_name(article.categ), name: @user.name)%>
            <% end %>
          </p>
				<%= truncate(strip_tags(article.content), length: 500) %>
				<footer>
					<%= link_to article.comments.count.to_s+" Comments ", article_show_url(name: article.user.name, article_id: article) %>
          <% if(session[:blog_id] == session[:user_id]) %>
          <div>
            <%= link_to 'Delete', blog_delete_article_path(article_id: article.id), data: { confirm: 'Are you sure?' } %>
            <%= link_to 'Edit', article_edit_path(name: @user.name, article_id: article.id) %>
          </div>
          <% end %>
				</footer>
			</article>		
<% end %>
</section>
<section id="sidebar">
    <nav>
      <h3>Archives</h3>
        <ul>
          <% @archive.each do |item| %>
            <% if item.month != nil%>
              <% link_str = item.month+" "+item.year%>
                <li><%= link_to link_str, archive_show_url(name: User.find_by_id(session[:blog_id]).name, month: item.month, year: item.year)%><%=" "+"("+item.amount.to_s+")"%></li>
              <% end %>
            <% end %>
          </ul>
    </nav>
    <nav>
       <h3>Category</h3>
          <ul>
            <% @category_list.each do |item| %>
              <li><%= link_to item.name, category_show_path(id: Category.find_by_name(item.name), name: @user.name)%><%=" "+"("+Article.where(user: User.find_by_id(session[:blog_id]), categ: item.name).count.to_s+")"%></li>
            <% end %>
        	</ul>
    </nav>
    <nav>
       <h3>Recent Post</h3>
          <ul>
            <% @articles_desc.each do |article| %>
              <li><%= link_to article.title, article_show_url(name: article.user.name, article_id: article)%></li>
            <% end %>
          </ul>
    </nav>
    <nav>
       <h3>Recent Comments</h3>
          <ul>
            <% @comments_desc.each do |comment| %>
              <% article = Article.find(comment.article_id) %>
              <li><%= link_to article.title, article_show_url(name: article.user.name, article_id: article)%>(<%= article.comments.count %>)<br>
                <%= link_to comment.user,blog_path(name: comment.user)%><%=":"+comment.description%>
              </li>
            <% end %>
          </ul>
    </nav>      
</section>