
<section id="posts">
<%  @articles.each do |article|  %>		
			<article class="post">
				<header>
					<h2><%= article.title  %></h2>
          <h4>Published <%= article.month+article.created_at.localtime.strftime(" %d %X %Y") %></h4>
				</header>
          <p>
            Tag:
            <% article.tag_items.each do |item| %>
            <%= link_to item.tag.name, tag_path(item.tag) %>
            <% end %>
          </p>
          <p>
            Category:
            <%= article.categ%>
          </p>
				<%= truncate(strip_tags(article.content), length: 500) %>
				<footer>
					<%= link_to article.comments.count.to_s+" Comments ", article_show_url(name: article.user.name, article_id: article) %>
          <% if(session[:blog_id] == session[:user_id]) %>
          <div>
            <%= link_to 'Delete', blog_delete_article_path(article_id: article.id), data: { confirm: 'Are you sure?' } %>
            <%= link_to 'Edit', article_edit_path(name: @user.name, article_id: article.id) %>
          </div>
          <% end %>
				</footer>
			</article>		
<% end %>
</section>
<section id="sidebar">
    <nav>
       <h3>Archives</h3>
          <ul>
            <% @archive.each do |item| %>
              <% if item.month != nil%>
                <% link_str = item.month+" "+item.year%>
                <li><%= link_to link_str, archive_show_url(name: User.find_by_id(session[:blog_id]).name, month: item.month, year: item.year)%><%=" "+"("+item.amount.to_s+")"%></li>
              <% end %>
            <% end %>
        	</ul>
    </nav>
</section>