
<div id="article-form">
  <%= render(partial: "article_post",  locals: {article:@article, category_list: @category_list}) %>
</div>

<div id="dialog" title="Create category">
  <%= form_tag( '/blog/edit_category', remote: true) do %>
    <%= text_field_tag :add_category_name, params[:add_category_name] %>
    <%= submit_tag "Add"%>
  <% end %>
  <div id="category-list">
      <%= render(partial: "category_list",  locals: {category_list: @category_list}) %>
  </div>
 </div>

<script type="text/javascript">
            $(function() {
                    // Add markItUp! to your textarea in one line
                    // $('textarea').markItUp( { Settings }, { OptionalExtraSettings } );
                    $('#markItUp').markItUp(mySettings);
            });
            $(function() {
                  $("#create-category").button().click(function(){
                    $( "#dialog" ).dialog("open");
                  })
            });
            $( "#dialog" ).dialog({
              autoOpen: false,
              modal: true,
              buttons: {
                "OK": function(){
                  $(this).dialog("close");
                }
              }
            });
</script>