
<section id="posts">
 <article class="post">
	<header>
		<h2><%= @article.title  %></h2>
    <h4>Published <%= @article.month+@article.created_at.localtime.strftime(" %d %X %Y") %></h4>
    <p>
      Tag:
      <% @article.tag_items.each do |item| %>
      <%= link_to item.tag.name, tag_path(item.tag) %>
      <% end %>
    </p>
	</header>
		<%= sanitize(@article.content) %>
 </article>	
</section>	

<section id="comments">
   <%=  render(partial: "comments/comments", locals: {current_view_obj:@article } ) %>
</section>



<section id="postcomments">
	<h3>POST A COMMENT</h3>
	<div id="formcontent">
		<%= render(partial: "comments/formlogin", locals: {comment: @comment}) %>
	</div>
</section>

